.popup {
    width: 100%;
    min-height: 100%;
    background-color: #0000007a;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 15;

    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &._open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    // .popup__container

    &__container {
        max-width: fit-content;
    }

    // .popup__body

    &__body {
        margin-top: 10%;
        padding: 30px;
        height: 500px;
        overflow: hidden;
        overflow-y: scroll;

        max-width: 500px;
        width: 100%;
        background-color: #fff;
        margin-inline: auto;

        @media (any-hover: hover) {
            &::-webkit-scrollbar{
                width: 10px;
            }

            &::-webkit-scrollbar-thumb{
                background: #005fcd;
            }
        }
    }

    // .popup__close

    &__close {
        margin: 15px auto;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #005fcd;

        svg {
            height: 20px;
            width: fit-content;
        }
    }

    // .popup__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        ._button {
            width: 100%;
            margin: 20px 0;
        }

        .abuse {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            opacity: 0.5;

            span {
                font-size: 14px;
                padding-bottom: 2px;
                display: block;
                border-bottom: 1px solid rgba(82, 92, 105, 1);
            }
            svg {
                width: fit-content;
                margin-left: 5px;
            }

            @media (any-hover: hover) {
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    // .popup__title

    &__title {
        @include adaptive-value("font-size", 30, 20, 1);
        padding: 20px 0;
        width: 100%;
        border-bottom: 1px solid rgba(82, 92, 105, 0.11);
        text-align: center;
    }

    // .popup__input

    &__input {
        display: flex;
        flex-direction: column;
        margin: 24px 0;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            svg {
                width: fit-content;
                height: 7px;
            }
        }

        label {
            color: #4a4a4a79;
            font-size: 14px;
            padding-left: 10px;

            span {
                font-size: 16px;
            }
        }

        input,
        textarea,
        select {
            padding-left: 10px;
            border-bottom: 1px solid rgba(82, 92, 105, 0.11);
            padding-bottom: 5px;
        }
        textarea {
            height: 100px;
        }
    }

    // .popup__flex

    &__flex {
        p {
            display: block;
            margin: 40px 0;
            @include adaptive-value("font-size", 24, 18, 1);
            line-height: 1.4;
        }
    }
}

.select {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        right: 0px;
        bottom: 10px;
        width: 20px;
        height: 20px;
        background-color: #fff;
        z-index: 1;
    }
}
.file {
    border-radius: 3px;
    padding: 10px;
    border: 1px solid rgba(82, 92, 105, 0.11);

    .filename {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(82, 92, 105, 0.5);
        padding: 5px 10px;
        width: 100%;
        color: #000;
        border-radius: 3px;
        margin-bottom: 10px;

        svg {
            margin-left: 10px;
            flex: 0 0 12px;
            width: fit-content;
            height: 12px;
            cursor: pointer;

            path {
                pointer-events: none;
            }
        }
    }

    li {
        font-size: 14px;
    }

    label {
        cursor: pointer;
        width: fit-content;
        display: block;
        position: relative;
        padding: 7px 10px;

        border: 1px solid rgba(82, 92, 105, 1);
        border-radius: 3px;
    }

    input {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        opacity: 0;
        visibility: hidden;
    }

    .filename-before {
        font-size: 14px;
        color: #4a4a4a79;
        margin-bottom: 5px;
    }
}

._button {
    // ._button-fill

    &-fill {
    }
}
