.product {
    padding: 8px;
    border-radius: 3px;
    background: #f5f5f5;

    display: flex;
    flex-direction: column;
    align-items: center;

    // .product__images

    &__images {
        border-radius: 3px;
        width: 100%;
        display: block;
        padding-bottom: 86.51%;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
            border-radius: 3px;
            object-fit: cover;
        }
    }

    // .product__info

    &__info {
        padding: 0 10px;
        margin: 22px 0 17px 0;
        height: 100%;

        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        p {
            flex: 1 1 auto;
        }

        h3 {
            margin-bottom: 16px;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.3;
            text-transform: uppercase;
            letter-spacing: 0;
        }

        p {
            font-size: 14px;
            margin-bottom: 22px;
            color: #3d3d3d;
        }

        span {
            @include adaptive-value("font-size", 14, 11, 1);
            color: #666;
        }
    }

    ._button {
        width: 100%;
        border: 1.5px solid #3d3d3d;
        color: #3d3d3d;
        font-weight: 500;
    }
}
